{
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    },
    "parser": "babel-eslint",
    "rules": {
        // "no-console": "error",
        "semi": "error",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "quotes": ["error", "single"]
    }
}
